* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-404 {
    display: block;
    z-index: -1;
    font-size: 20rem;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    color: coral;
    text-align: center;
    transform: translate(-50%, -50%);
    transform-origin: 0% 10%;

    animation: animate-404 10s infinite;
}

body {
    width: 100%;
}

@keyframes animate-404 {
    0% {
        font-size: 70rem;
        color: coral;
        transform: rotate(0deg) translate(-50%, -50%);
    }

    50% {
        font-size: 45rem;
        color: yellow;
    }

    100% {
        font-size: 70rem;
        color: coral;
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .big-404 {
        transform-origin: 0% 70%;
    }

    @keyframes animate-404 {
        0% {
            font-size: 10rem;
            color: coral;
            transform: rotate(0deg) translate(-50%, 30%);
        }

        50% {
            font-size: 15rem;
            color: yellow;
        }

        100% {
            font-size: 10rem;
            color: coral;
            transform: rotate(360deg) translate(-50%, 30%);
        }
    }
}
